<div id="mainPage">
    <nav class="myNav">
        <h1 class="title">CBS-Scraper</h1>
        <button id="scrape" class="buttonStyle" type="button">Scrape New Articles</button>
        <button class="buttonStyle" type="button">Clear Articles</button>
        <button id="savedArticles" class="buttonStyle" type="button">Saved Articles</button>
    </nav>
    <div id="articleList"></div>
</div>

<div id="savedArticlesPage">
    <nav class="myNav">
        <h1 class="title">Saved Articles</h1>
        <button class="buttonStyle" type="button">Clear Articles</button>
        <button id="home" class="buttonStyle" type="button">Home</button>
    </nav>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/index.js"></script>